

/* Mobile Responsive */
@media (max-width: 992px) {
  .admin-login-card {
    width: 100%;
  }
}

@media (max-width: 576px) {
 .adminlogin{
  width: 300px !important;
  position: relative;
  right: 80px !important;
 }


}
