
/* Mobile Responsive */
@media (max-width: 992px) {
  .admin-login-card {
    width: 100%;
      /* right: 50px !important; */

  }
}

@media (max-width: 576px) {
 .adminlogin{
  width: 300px !important;
  position: relative;
  right: 65px !important;
  margin-top: 30px;
      /* margin-bottom: 150px !important; */
 }
 .mob{
  margin-top: 140px !important;
 }

}
